<div class="app-container">
  @if (isLoginRoute$ | async) {
    <router-outlet />
  } @else {
    <header class="app-header">
      <nav class="app-nav">
        <h1 class="app-title">Pet Gerenciador</h1>
        <ul class="nav-links">
          @if (authFacade.isAuthenticated$ | async) {
            <li>
              <button type="button" (click)="logout()" class="btn-ghost">
                Sair
              </button>
            </li>
          }
        </ul>
      </nav>
    </header>

    <main class="app-main">
      <router-outlet />
    </main>
  }
</div>
